<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @mdl_forum.course %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mdl_forum.name %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @mdl_forum.intro %>
</p>

<p>
  <strong>Introformat:</strong>
  <%= @mdl_forum.introformat %>
</p>

<p>
  <strong>Assessed:</strong>
  <%= @mdl_forum.assessed %>
</p>

<p>
  <strong>Assesstimestart:</strong>
  <%= @mdl_forum.assesstimestart %>
</p>

<p>
  <strong>Assesstimefinish:</strong>
  <%= @mdl_forum.assesstimefinish %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @mdl_forum.scale %>
</p>

<p>
  <strong>Maxbytes:</strong>
  <%= @mdl_forum.maxbytes %>
</p>

<p>
  <strong>Maxattachments:</strong>
  <%= @mdl_forum.maxattachments %>
</p>

<p>
  <strong>Forcesubscribe:</strong>
  <%= @mdl_forum.forcesubscribe %>
</p>

<p>
  <strong>Trackingtype:</strong>
  <%= @mdl_forum.trackingtype %>
</p>

<p>
  <strong>Rsstype:</strong>
  <%= @mdl_forum.rsstype %>
</p>

<p>
  <strong>Rssarticles:</strong>
  <%= @mdl_forum.rssarticles %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @mdl_forum.timemodified %>
</p>

<p>
  <strong>Warnafter:</strong>
  <%= @mdl_forum.warnafter %>
</p>

<p>
  <strong>Blockafter:</strong>
  <%= @mdl_forum.blockafter %>
</p>

<p>
  <strong>Blockperiod:</strong>
  <%= @mdl_forum.blockperiod %>
</p>

<p>
  <strong>Completiondiscussions:</strong>
  <%= @mdl_forum.completiondiscussions %>
</p>

<p>
  <strong>Completionreplies:</strong>
  <%= @mdl_forum.completionreplies %>
</p>

<p>
  <strong>Completionposts:</strong>
  <%= @mdl_forum.completionposts %>
</p>

<p>
  <strong>Displaywordcount:</strong>
  <%= @mdl_forum.displaywordcount %>
</p>

<%= link_to 'Edit', edit_mdl_forum_path(@mdl_forum) %> |
<%= link_to 'Back', mdl_forums_path %>
