<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @mdl_course.category %>
</p>

<p>
  <strong>Sortorder:</strong>
  <%= @mdl_course.sortorder %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @mdl_course.fullname %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @mdl_course.shortname %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @mdl_course.idnumber %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @mdl_course.summary %>
</p>

<p>
  <strong>Summaryformat:</strong>
  <%= @mdl_course.summaryformat %>
</p>

<p>
  <strong>Format:</strong>
  <%= @mdl_course.format %>
</p>

<p>
  <strong>Showgrades:</strong>
  <%= @mdl_course.showgrades %>
</p>

<p>
  <strong>Newsitems:</strong>
  <%= @mdl_course.newsitems %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @mdl_course.startdate %>
</p>

<p>
  <strong>Marker:</strong>
  <%= @mdl_course.marker %>
</p>

<p>
  <strong>Maxbytes:</strong>
  <%= @mdl_course.maxbytes %>
</p>

<p>
  <strong>Legacyfiles:</strong>
  <%= @mdl_course.legacyfiles %>
</p>

<p>
  <strong>Showreports:</strong>
  <%= @mdl_course.showreports %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @mdl_course.visible %>
</p>

<p>
  <strong>Visibleold:</strong>
  <%= @mdl_course.visibleold %>
</p>

<p>
  <strong>Groupmode:</strong>
  <%= @mdl_course.groupmode %>
</p>

<p>
  <strong>Groupmodeforce:</strong>
  <%= @mdl_course.groupmodeforce %>
</p>

<p>
  <strong>Defaultgroupingid:</strong>
  <%= @mdl_course.defaultgroupingid %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @mdl_course.lang %>
</p>

<p>
  <strong>Calendartype:</strong>
  <%= @mdl_course.calendartype %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @mdl_course.theme %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @mdl_course.timecreated %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @mdl_course.timemodified %>
</p>

<p>
  <strong>Requested:</strong>
  <%= @mdl_course.requested %>
</p>

<p>
  <strong>Enablecompletion:</strong>
  <%= @mdl_course.enablecompletion %>
</p>

<p>
  <strong>Completionnotify:</strong>
  <%= @mdl_course.completionnotify %>
</p>

<p>
  <strong>Cacherev:</strong>
  <%= @mdl_course.cacherev %>
</p>

<%= link_to 'Edit', edit_mdl_course_path(@mdl_course) %> |
<%= link_to 'Back', mdl_courses_path %>
