<p id="notice"><%= notice %></p>

<p>
  <strong>Auth:</strong>
  <%= @mdl_user.auth %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @mdl_user.confirmed %>
</p>

<p>
  <strong>Policyagreed:</strong>
  <%= @mdl_user.policyagreed %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @mdl_user.deleted %>
</p>

<p>
  <strong>Suspended:</strong>
  <%= @mdl_user.suspended %>
</p>

<p>
  <strong>Mnethostid:</strong>
  <%= @mdl_user.mnethostid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @mdl_user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @mdl_user.password %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @mdl_user.idnumber %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @mdl_user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @mdl_user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mdl_user.email %>
</p>

<p>
  <strong>Emailstop:</strong>
  <%= @mdl_user.emailstop %>
</p>

<p>
  <strong>Icq:</strong>
  <%= @mdl_user.icq %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @mdl_user.skype %>
</p>

<p>
  <strong>Yahoo:</strong>
  <%= @mdl_user.yahoo %>
</p>

<p>
  <strong>Aim:</strong>
  <%= @mdl_user.aim %>
</p>

<p>
  <strong>Msn:</strong>
  <%= @mdl_user.msn %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @mdl_user.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @mdl_user.phone2 %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @mdl_user.institution %>
</p>

<p>
  <strong>Department:</strong>
  <%= @mdl_user.department %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mdl_user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @mdl_user.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @mdl_user.country %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @mdl_user.lang %>
</p>

<p>
  <strong>Calendartype:</strong>
  <%= @mdl_user.calendartype %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @mdl_user.theme %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @mdl_user.timezone %>
</p>

<p>
  <strong>Firstaccess:</strong>
  <%= @mdl_user.firstaccess %>
</p>

<p>
  <strong>Lastaccess:</strong>
  <%= @mdl_user.lastaccess %>
</p>

<p>
  <strong>Lastlogin:</strong>
  <%= @mdl_user.lastlogin %>
</p>

<p>
  <strong>Currentlogin:</strong>
  <%= @mdl_user.currentlogin %>
</p>

<p>
  <strong>Lastip:</strong>
  <%= @mdl_user.lastip %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @mdl_user.secret %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @mdl_user.picture %>
</p>

<p>
  <strong>Url:</strong>
  <%= @mdl_user.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mdl_user.description %>
</p>

<p>
  <strong>Descriptionformat:</strong>
  <%= @mdl_user.descriptionformat %>
</p>

<p>
  <strong>Mailformat:</strong>
  <%= @mdl_user.mailformat %>
</p>

<p>
  <strong>Maildigest:</strong>
  <%= @mdl_user.maildigest %>
</p>

<p>
  <strong>Maildisplay:</strong>
  <%= @mdl_user.maildisplay %>
</p>

<p>
  <strong>Autosubscribe:</strong>
  <%= @mdl_user.autosubscribe %>
</p>

<p>
  <strong>Trackforums:</strong>
  <%= @mdl_user.trackforums %>
</p>

<p>
  <strong>Timecreated:</strong>
  <%= @mdl_user.timecreated %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @mdl_user.timemodified %>
</p>

<p>
  <strong>Trustbitmask:</strong>
  <%= @mdl_user.trustbitmask %>
</p>

<p>
  <strong>Imagealt:</strong>
  <%= @mdl_user.imagealt %>
</p>

<p>
  <strong>Lastnamephonetic:</strong>
  <%= @mdl_user.lastnamephonetic %>
</p>

<p>
  <strong>Firstnamephonetic:</strong>
  <%= @mdl_user.firstnamephonetic %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @mdl_user.middlename %>
</p>

<p>
  <strong>Alternatename:</strong>
  <%= @mdl_user.alternatename %>
</p>

<%= link_to 'Edit', edit_mdl_user_path(@mdl_user) %> |
<%= link_to 'Back', mdl_users_path %>
