<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @mdl_resource.course %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mdl_resource.name %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @mdl_resource.intro %>
</p>

<p>
  <strong>Introformat:</strong>
  <%= @mdl_resource.introformat %>
</p>

<p>
  <strong>Tobemigrated:</strong>
  <%= @mdl_resource.tobemigrated %>
</p>

<p>
  <strong>Legacyfiles:</strong>
  <%= @mdl_resource.legacyfiles %>
</p>

<p>
  <strong>Legacyfileslast:</strong>
  <%= @mdl_resource.legacyfileslast %>
</p>

<p>
  <strong>Display:</strong>
  <%= @mdl_resource.display %>
</p>

<p>
  <strong>Displayoptions:</strong>
  <%= @mdl_resource.displayoptions %>
</p>

<p>
  <strong>Filterfiles:</strong>
  <%= @mdl_resource.filterfiles %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @mdl_resource.revision %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @mdl_resource.timemodified %>
</p>

<%= link_to 'Edit', edit_mdl_resource_path(@mdl_resource) %> |
<%= link_to 'Back', mdl_resources_path %>
