<p id="notice"><%= notice %></p>

<h1>Mdl Contexts</h1>

<table>
  <thead>
    <tr>
      <th>Contextlevel</th>
      <th>Instanceid</th>
      <th>Path</th>
      <th>Depth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mdl_contexts.each do |mdl_context| %>
      <tr>
        <td><%= mdl_context.contextlevel %></td>
        <td><%= mdl_context.instanceid %></td>
        <td><%= mdl_context.path %></td>
        <td><%= mdl_context.depth %></td>
        <td><%= link_to 'Show', mdl_context %></td>
        <td><%= link_to 'Edit', edit_mdl_context_path(mdl_context) %></td>
        <td><%= link_to 'Destroy', mdl_context, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mdl Context', new_mdl_context_path %>
