<%= form_for(mdl_forum_post) do |f| %>
  <% if mdl_forum_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mdl_forum_post.errors.count, "error") %> prohibited this mdl_forum_post from being saved:</h2>

      <ul>
      <% mdl_forum_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discussion %>
    <%= f.text_field :discussion %>
  </div>

  <div class="field">
    <%= f.label :parent %>
    <%= f.text_field :parent %>
  </div>

  <div class="field">
    <%= f.label :userid %>
    <%= f.text_field :userid %>
  </div>

  <div class="field">
    <%= f.label :created %>
    <%= f.text_field :created %>
  </div>

  <div class="field">
    <%= f.label :modified %>
    <%= f.text_field :modified %>
  </div>

  <div class="field">
    <%= f.label :mailed %>
    <%= f.number_field :mailed %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="field">
    <%= f.label :messageformat %>
    <%= f.number_field :messageformat %>
  </div>

  <div class="field">
    <%= f.label :messagetrust %>
    <%= f.number_field :messagetrust %>
  </div>

  <div class="field">
    <%= f.label :attachment %>
    <%= f.text_field :attachment %>
  </div>

  <div class="field">
    <%= f.label :totalscore %>
    <%= f.number_field :totalscore %>
  </div>

  <div class="field">
    <%= f.label :mailnow %>
    <%= f.text_field :mailnow %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
