<%= form_for :mdl_forum_posts, :url => { :action => :postPorDiscusionPrincipal } do |f| %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="btn-group ">
 <%= link_to("Volver a discusiones del foro", :back)%>

</div>



<div class="row">
  <div class="col-md-12 "><h2><%=@mdl_forum_posts.pluck(:subject)%></h2></div>
</div>

<% @mdl_forum_posts.each do |mdl_forum_posts| %>

<div class="row">

<div class="col-md-12 courseButton"><%= mdl_forum_posts.message%></div>
</div>
<% end %>

 <%= link_to "Ver todos los mensajes del foro", controller: "mdl_forum_posts", action: "postRespuestas", discussion:  @mdl_forum_posts.pluck(:discussion)%>
<%= link_to "Nuevo"%>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#"></a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Mis Cursos</a></li>
     <li><a href="#">Buscar Cursos</a></li>
     <li><a href="#">Mi Usuario</a></li>
     <li><a href="#">Mis Mensajes</a></li>
   </ul>
 </div>
</nav>



<% end %>
