<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mdl_event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mdl_event.description %>
</p>

<p>
  <strong>Format:</strong>
  <%= @mdl_event.format %>
</p>

<p>
  <strong>Courseid:</strong>
  <%= @mdl_event.courseid %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @mdl_event.groupid %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @mdl_event.userid %>
</p>

<p>
  <strong>Repeatid:</strong>
  <%= @mdl_event.repeatid %>
</p>

<p>
  <strong>Modulename:</strong>
  <%= @mdl_event.modulename %>
</p>

<p>
  <strong>Instance:</strong>
  <%= @mdl_event.instance %>
</p>

<p>
  <strong>Eventtype:</strong>
  <%= @mdl_event.eventtype %>
</p>

<p>
  <strong>Timestart:</strong>
  <%= @mdl_event.timestart %>
</p>

<p>
  <strong>Timeduration:</strong>
  <%= @mdl_event.timeduration %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @mdl_event.visible %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @mdl_event.uuid %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @mdl_event.sequence %>
</p>

<p>
  <strong>Timemodified:</strong>
  <%= @mdl_event.timemodified %>
</p>

<p>
  <strong>Subscriptionid:</strong>
  <%= @mdl_event.subscriptionid %>
</p>

<%= link_to 'Edit', edit_mdl_event_path(@mdl_event) %> |
<%= link_to 'Back', mdl_events_path %>
